services:
  db:
    image: postgres:17-alpine
    container_name: bank_db_dev
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bank_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d bank_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bank_api
    ports:
      - "8080:8080"
    environment:
      WAIT_HOSTS: db:5432
    depends_on:
      db:
        condition: service_healthy
    restart: always

volumes:
  db-data:
    driver: local